
h1 {
    /* margin-top: 10%; */
    text-align: center;
    /* position: relative; */
}

.contact {
    /* margin-top: 10%; */
    height : 100vh;
    display: flex;
    align-items: center;
    /* width: 50%; */

}

.text {
    height: 250px;
    font-size: 20px;
  
}

.form {
    margin: auto;
    width: 70%;
}

.submitbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.textField {
    font-size: 22px;
    font-weight: bold;
}